<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey Squirrel</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="header">
      <h1>{{title}}</h1>
    </div>

    <div id="info-bar">
      <h2>{{welcome}}</h2>
    </div>

    <section id="survey" class="form">
      <div class="questions-list">

      </div>
      <div v-if="newQuestion || newAnswer" class="field">
        <p class="label">Question {{Object.keys(questions).length + 1}}</p>
        <div class="control">
          <input
            v-model="formQuestion.question"
            class="input"
            type="text"
            placeholder="Text input"
          >
          <button
            v-if="newQuestion"
            v-on:click="queueQuestion">
            Save Question
          </button>
        </div>
      </div>
      <div v-if="newAnswer" class="field">
        <div class="control">
          <input
            v-model="formAnswer"
            class="input"
            type="text"
            placeholder="Text input"
          >
          <button v-on:click="saveAnswer">Save Answer</button>
        </div>
      </div>
      <div v-for="answer in formQuestion.answers">
        {{answer}}
      </div>
    </section>

  </body>
  <style lang="scss" scoped>
    @import 'style.css';
  </style>


  <script src="./components/header.js"></script>
  <script src="./components/info_bar.js"></script>
  <script src="./components/survey.js"></script>
</html>
