@import 'partials/reset';

$main-font: 'Roboto', sans-serif;


#header {
  background-color: #007480;
  border: 1px solid #979797;
  width: 1440px;
  height: 99px;
}

h1 {
  font-family: $main-font;
}
