html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #F2F2F2;
  border: 1px solid #808080;
  border-radius: 2px;
  width: 125px;
  height: 40px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007480;
  border: 1px solid #979797;
  width: 1440px;
  height: 99px;
}
#header h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: -1.06px;
}

#info-bar {
  margin-top: 140px;
  width: 1007px;
  border: 1px solid #979797;
  background-color: #FFFFFF;
}
#info-bar h2 {
  color: #3F3F3F;
  width: 923px;
  padding: 42px 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: -0.85px;
  line-height: 62px;
  text-align: center;
}

#survey .label {
  color: #808080;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.57px;
  line-height: 62px;
}
#survey .input {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  width: 758px;
  height: 60px;
}
#survey .question-input {
  color: #3F3F3F;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.57px;
  line-height: 62px;
  width: 528.76px;
  text-align: left;
}
#survey .answer-input {
  color: #808080;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.57px;
  line-height: 62px;
  width: 246.24px;
  text-align: left;
  width: 353px;
}
#survey .answer-list-item {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  width: 353px;
  height: 60px;
}
